{% set externalUriRegex = r/^(https?|\/\/)/i %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script>const settings = {{ settings | dump | safe }}</script>
	<!-- Stylesheets -->
	{% for stylesheet in settings.theme.stylesheets -%}
		{% if externalUriRegex.test(stylesheet) -%}
			<link rel="stylesheet" href="{{ stylesheet }}">
		{% else %}
			<link rel="stylesheet" href="/themes/{{ settings.theme.path }}/{{ stylesheet }}">
		{%- endif %}
	{%- endfor %}
	{% for stylesheet in settings.stylesheets -%}
		{% if externalUriRegex.test(stylesheet) -%}
			<link rel="stylesheet" href="{{ stylesheet }}">
		{% else %}
			<link rel="stylesheet" href="/integrations/{{ settings.path }}/{{ stylesheet }}">
		{%- endif %}
	{%- endfor %}
	<title>Dashboard</title>
</head>
<body style="cursor: none">

	{% block main %}
		No content loaded.
	{% endblock %}


	<!-- Javascript -->
	{% for script in settings.theme.scripts -%}
		{% if externalUriRegex.test(script) -%}
			<script src="{{ script }}"></script>
		{% else %}
			<script src="/themes/{{ settings.theme.path }}/{{ script }}"></script>
		{%- endif %}
	{%- endfor %}
	{% for script in settings.scripts -%}
		{% if externalUriRegex.test(script) -%}
			<script src="{{ script }}"></script>
		{% else %}
			<script src="/integrations/{{ settings.path }}/{{ script }}"></script>
		{%- endif %}
	{%- endfor %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script>
		const socket = io();
		socket.on('command', (cmd, params) => {
			switch(cmd) {
				// Toggle mouse
				case 'mouse':
					if(params === true) { document.getElementsByTagName('body')[0].style.cursor = 'auto'; } else { document.getElementsByTagName('body')[0].style.cursor = 'none'; }
					break;
			}
		});
	</script>

</body>
</html>