{% set externalUriRegex = r/^(https?|\/\/)/i %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<script>const settings = {{ settings | dump | safe }}</script>
	{% for script in settings.theme.scripts -%}
		{% if externalUriRegex.test(script) -%}
			<script src="{{ script }}"></script>
		{% else %}
			<script src="/themes/{{ settings.theme.path }}/{{ script }}"></script>
		{%- endif %}
	{%- endfor %}
	{% for stylesheet in settings.theme.stylesheets -%}
		{% if externalUriRegex.test(stylesheet) -%}
			<link rel="stylesheet" href="{{ stylesheet }}">
		{% else %}
			<link rel="stylesheet" href="/themes/{{ settings.theme.path }}/{{ stylesheet }}">
		{%- endif %}
	{%- endfor %}
	<title>Dashboard</title>
</head>
<body id="dashboard" style="cursor:none">

	{% for integration in settings.integrations -%}
		{% set integrationWidth = settings[integration].width or 1 %}
		{% set integrationHeight = settings[integration].height or 1 %}
		<iframe scrolling="no" class="section__iframe width-{{ integrationWidth }} height-{{ integrationHeight }}" id="{{ integration }}" src="integration/{{ integration }}"></iframe>
	{%- endfor %}

	<!-- DEBUG -->
	<div style="position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);color:#fff;overflow:auto;" id="DEBUGMODE" hidden><code>{{ settings | dump }}</code></div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script>
		const socket = io();
		socket.on('command', (cmd, params) => {
			switch(cmd) {
				// Reload dashboard
				case 'reload':
					window.location.href = window.location.href;
					break;
				// Toggle debug code
				case 'debug':
					const debugScreen = document.getElementById('DEBUGMODE');
					if(params === true) { debugScreen.removeAttribute('hidden'); } else { debugScreen.setAttribute('hidden', 'hidden'); }
					break;
				// Toggle mouse
				case 'mouse':
					if(params === true) { document.getElementsByTagName('body')[0].style.cursor = 'auto'; } else { document.getElementsByTagName('body')[0].style.cursor = 'none'; }
					break;
			}
		});
	</script>

</body>
</html>